<h2>{{ include.title }}</h2>

<ol class="process-chart">
  {% for item in include.items %}
    <li style="background-color: {{ item.background_color }};">
      <div>
        <h2>{{ item.title }}</h2>
        {% if item.description %}
          <p>{{ item.description }}</p>
        {% endif %}
        {% if item.timeline %}
          <p>Typical timeline: <strong><nobr>{{ item.timeline }}</nobr></strong></p>
        {% endif %}
        {% if item.note %}
          <p>{{ item.note }}</p>
        {% endif %}
      </div>
      <style>
        ol.process-chart > li:nth-child({{ forloop.index }}):after {
          border-left-color: {{ item.background_color }};
        }
        @media only screen and (max-width: 40em) {
          ol.process-chart > li:nth-child({{ forloop.index }}):after {
            border-top-color: {{ item.background_color }};
          }
        }
      </style>
    </li>
  {% endfor %}
</ol>